#!/usr/bin/make -f

export DH_VERBOSE=1

export PYBUILD_NAME=chacractl
export PYBUILD_TEST_PYTEST=1
export PYBUILD_TEST_ARGS=-s {dir}/chacractl/tests/

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
